*{
    box-sizing: border-box;
}

}

.navbar{
    background-color: yellow;
   
}

.navbar-default{
    background-color: yellow;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;

}

h3{
    text-align: center;
}

.container-fluid{
    background-color: yellow;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.row{
    padding:15px;
}

.text-center{
    font-weight: bolder;
}